{% extends 'mail/base.html' %}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Сервис рассылок</h1>
            <p class="lead text-body-secondary">Сообщения рассылок</p>
            {% if user.is_authenticated %}
            <p>
                <a class="btn btn-primary" href="{% url 'mail:messages_create' %}" role="button">
                    Создать сообщение</a>
            </p>
            {% endif %}
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for message in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{ message.subject }}</p>
                        <p class="card-text">{{ message.body|comment:25 }}</p>
                        <!--                         {% if perms. or user == message.owner %}-->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:messages_detail' message.pk %}"
                                   role="button">Посмотреть</a>
                                <a class="btn btn-primary" href="{% url 'catalog:messages_update' message.pk %}"
                                   role="button">Редактировать</a>
                                <a class="btn btn-primary" href="{% url 'catalog:messages_delete' message.pk %}"
                                   role="button">Удалить</a>
                            </div>
                        </div>
                        <!--                        {% endif %}-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mail:clients_list' %}" role="button">Перейти к клиентам</a>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mail:mail_list' %}" role="button">Перейти к рассылкам</a>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mail:mailtry_list' %}" role="button">Посмотреть последние попытки
            рассылок</a>
    </div>
</div>
{% endblock %}