{% extends 'mail/base_blog.html' %}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Сервис рассылок</h1>
            <p class="lead text-body-secondary">Рассылки</p>
            {% if user.is_authenticated %}
            <p>
                <a class="btn btn-primary" href="{% url 'mail:mails_create' %}" role="button">
                    Создать рассылку</a>
            </p>
            {% endif %}
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mail in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{ mail.title }}</p>
                        <p class="card-text">{{ mail.status }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if perms.can_see_mails and perms.can_change_status or user == mail.owner %}
                                <a class="btn btn-primary" href="{% url 'mail:mails_detail' mail.pk %}" role="button">Посмотреть</a>
                                <a class="btn btn-primary" href="{% url 'mail:mails_update' mail.pk %}" role="button">Редактировать</a>
                                {% endif %}
                                {% if user == mail.owner %}
                                <a class="btn btn-primary" href="{% url 'mail:mails_delete' mail.pk %}" role="button">Удалить</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mail:clients_list' %}" role="button">Перейти к клиентам</a>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mail:messages_list' %}" role="button">Перейти к сообщениям рассылок</a>
    </div>
</div>
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'mail:mailtry_list' %}" role="button">Посмотреть последние попытки
            рассылок</a>
    </div>
</div>
{% endblock %}